<form [formGroup]="loginForm">
	<mat-form-field>
		<mat-label>Email</mat-label>
		<input
			type="email"
			matInput
			formControlName="email"
			placeholder="Ex. pat@example.com" />
		<mat-error *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched"> Please enter a valid email address </mat-error>
		<mat-error *ngIf="loginForm.controls['email'].hasError('required')"> Email is <strong>required</strong> </mat-error>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Password</mat-label>
		<input
			type="password"
			matInput
			formControlName="password" />

		<mat-error *ngIf="loginForm.controls['password'].hasError('required')"> Password is <strong>required</strong> </mat-error>
	</mat-form-field>
	<button
		[disabled]="disableButton"
		mat-raised-button
		color="primary"
		(click)="onLoginClick(loginForm.controls['email'].value, loginForm.controls['password'].value)">
		LOGIN
	</button>
</form>
<a routerLink="../register">
	<button
		mat-stroked-button
		color="basic"
		>Register</button
	>
</a>
